<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let user of prods) { %>
                <article class="card card-lg">
                    <% if (user.imageUrl) { %>
                        <img src="<%= user.imageUrl %>" alt="" srcset="" class="card-profile">
                    <% } else { %>
                        <img src="https://los40es00.epimg.net/los40/imagenes/2019/07/19/comics/1563540565_888864_1563540663_noticia_normal.jpg" alt="" srcset="" class="card-profile">
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title"> <%= user.name %>  <%= user.lastname %></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <form action="/add-to-cart" method="POST">
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </form>
                    </div>    
                </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>No Users Found!</h1>
        <% } %>
    </main>
    
</body>
</html>